---
import type { JapaneseWordOfTheDay } from '#/backend'
import A from '../ui/A.astro'

interface Props {
  data: JapaneseWordOfTheDay
}

const { word, sentence, speechPart, url } = Astro.props.data
const pronun = word.japanese === word.kana ? word.romaji : `${word.kana}/${word.romaji}`
---

<div class="jpwotd">
  <p><A href={url}>{word.japanese}</A> [{pronun}] - {word.english}</p>
  <p>Part of speech: {speechPart}</p>

  <div class="sentence">
    <p>{sentence.japanese}</p>
    <p>{sentence.kana}</p>
    <p>{sentence.romaji}</p>
    <p>{sentence.english}</p>
  </div>
</div>

<style lang="scss" is:global>
  .jpwotd > .sentence {
    padding-top: 16px;

    > * + * {
      padding-top: 8px;
    }
  }
</style>
