---
import { fetchLastSeenItems } from '#/backend/last-seen'
import A from '#/components/A'
import LastSeen from '#/components/LastSeen'
import Section from '#/components/Section.astro'
import Table from '#/components/Table.astro'
import DefaultLayout from '#/layouts/DefaultLayout/DefaultLayout.astro'
import { gochuumonShiki, me } from '#/urls'
import randomInt from '#/utils/random-int'

const lastSeenItems = await fetchLastSeenItems()

const hi = 'h' + 'i'.repeat(randomInt(1, 5))
---

<DefaultLayout>
  <Section>
    <h1>{hi}!</h1>

    <p>
      i am <b>vadim <A href={me.mynickname} class="nickname">asyomei</A></b>
      <br />
      yet another dev, so <A href={me.github}>my github</A>
    </p>

    <p>currently i am learning web developing and japanese</p>
  </Section>

  <Section title="personal info">
    <Table>
      languages
      <p>[ru] native [en] maybe [ja] learn</p>

      languages
      <p>[js/ts] love</p>

      birth day
      <p>feb 9 (aquarius)</p>

      {
        lastSeenItems.length > 0 && (
          <>
            last seen
            <LastSeen items={lastSeenItems} />
          </>
        )
      }

      fav anime
      <p>
        gochuumon wa usagi desu ka (<A href={gochuumonShiki}>shiki</A>)
      </p>

      fav music
      <p>
        hard metal and rock, happy jpop;
        <br />
        well, very diverse, check
        <A href={me.lastfm}>last.fm</A>
      </p>
    </Table>
  </Section>

  <Section title="contacts">
    <Table>
      telegram
      <p><A href={me.telegram}>@asyomei</A></p>

      bluesky
      <p><A href={me.bluesky}>@asyomei.org</A></p>

      vk
      <p><A href={me.vk}>@asyomei</A></p>

      4pda
      <p><A href={me.fourpda}>@vabgalimov</A></p>

      email
      <p>vadim at asyomei.org</p>

      phone
      <p>don't like</p>

      mail
      <p>why</p>
    </Table>
  </Section>
</DefaultLayout>

<style is:global>
  .nickname {
    color: var(--text-primary);
    text-decoration: underline;
  }
</style>
