---
import lastfm from "#/backend/actions/lastfm"
import formatDate from "#/utils/format-date"
import A from "../A"
import BaseAction from "./BaseAction.astro"

const { artist, album, title, playing, url, date } = await lastfm()
---

<BaseAction title="last.fm">
  <p>{artist} - {title} {album && `(${album})`}</p>

  <div class="flex justify-between pt-6">
    <p class="text-secondary">{playing ? "now playing" : `${formatDate(date)} UTC`}</p>
    <A href={url}>track on last.fm</A>
  </div>
</BaseAction>
